
SistemaNutricion/SistemaNutricion/bin/Debug/net8.0/SistemaNutricion.dll
SistemaNutricion/SistemaNutricion/bin/Debug/net8.0/SistemaNutricion.dll
SistemaNutricion/SistemaNutricion/obj/Debug/net8.0/SistemaNutricion.AssemblyInfoInputs.cache
SistemaNutricion/SistemaNutricion/bin/Debug/net8.0/SistemaNutricion.exe
SistemaNutricion/SistemaNutricion/obj/Debug/net8.0/SistemaNutricion.AssemblyInfo.cs
