/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(0, 31, 63);
  color: white;
}

.logo img {
  max-width: 100%; /* Asegura que el logo se ajuste al contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

.aplicacion-info {
  font-family: 'Bebas Neue Pro', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

/* PESTAÑAS */
.pestanas-section {
  background-color: rgb(70, 130, 180);
  overflow: auto; /* Permite desplazamiento horizontal en caso de muchas pestañas */
}

.pestanas {
  display: flex;
  overflow-x: auto; /* Permite desplazamiento horizontal en caso de muchas pestañas */
}

.pestanas a {
  display: block;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Bebas Neue Pro', sans-serif;
}

.pestanas a:hover,
.pestanas a.active {
  background-color: rgb(0, 31, 63);
}

/* SECCIONES */
.seccion {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten automáticamente en filas */
  justify-content: space-around; /* Distribución uniforme de los elementos */
  margin-top: 20px;
}

.seccion h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.sec{
  width: 60%; /* Ancho de las secciones de desayuno, almuerzo, merienda y aperitivo */
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 2px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
 .sec2 {
  width: 35%; /* Ancho de las secciones de desayuno, almuerzo, merienda y aperitivo */
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 1%;
  background-color: rgb(70, 130, 180);
  border-bottom: 2px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.sec h1, .sec2 h1 {
  font-size: 1.8em;
  color: rgb(0, 31, 63);
  text-align: center;
  text-transform: capitalize;
  margin: 1px 0;
  padding: 1px;
  background-color: #f8f8f8;
  border-bottom: 0.5px solid #ddd;
}


/* FOOTER */
.footer {
  background-color: rgb(0, 31, 63);
  color: white;
  text-align: center;
  padding: 10px 0;
}
