/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* background-color: #2c3e50; */
}

.logo {
  display: flex;
  align-items: center;
  margin-top: -2%;
  margin-bottom: -2%;
}

.logo img {
  max-width: 15%;
  max-height: 15%;
  margin-right: -2.5%;
  margin-left: -3%;
}

.aplicacion-info {
  color: rgb(87, 160, 204);
  font-family: 'Bebas Neue Pro', sans-serif;
  font-weight: bold;
  line-height: 0.7;
  font-size: 3em;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tituloaplicacion_2 {
  /* font-size: 1.8em; */
  color: rgb(87, 160, 204);
}

.pestanas-section {
  background-color: rgb(70, 130, 180);
  overflow: hidden;
}

.pestanas {
  display: flex;
}

.pestanas a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Bebas Neue Pro', sans-serif;
}

.pestanas a:hover {
  background-color: rgb(0, 31, 63);
  color: #fff;
}

.pestanas a.active {
  background-color: rgb(0, 31, 63);
  color: #fff;
}

/* PESTAÑAS */
.pestanas-section {
  background-color: rgb(70, 130, 180);
  overflow: auto; /* Permite desplazamiento horizontal en caso de muchas pestañas */
}

.pestanas {
  display: flex;
  overflow-x: auto; /* Permite desplazamiento horizontal en caso de muchas pestañas */
}

.pestanas a {
  display: block;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Bebas Neue Pro', sans-serif;
}

.pestanas a:hover,
.pestanas a.active {
  background-color: rgb(0, 31, 63);
}

/* SECCIONES */
.seccion {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten automáticamente en filas */
  justify-content: space-around; /* Distribución uniforme de los elementos */
  margin-top: 20px;
}

.seccion h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.sec{
  width: 60%; /* Ancho de las secciones de desayuno, almuerzo, merienda y aperitivo */
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 2px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
 .sec2 {
  width: 35%; /* Ancho de las secciones de desayuno, almuerzo, merienda y aperitivo */
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 1%;
  background-color: rgb(70, 130, 180);
  border-bottom: 2px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.sec h1, .sec2 h1 {
  font-size: 1.8em;
  color: rgb(0, 31, 63);
  text-align: center;
  text-transform: capitalize;
  margin: 1px 0;
  padding: 1px;
  background-color: #f8f8f8;
  border-bottom: 0.5px solid #ddd;
}


/* FOOTER */
.footer {
  background-color: rgb(0, 31, 63);
  color: white;
  text-align: center;
  padding: 10px 0;
}
