.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow-x: auto; /* Asegura que la tabla sea desplazable en pantallas pequeñas */
}

.tabla {
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 90%;
  table-layout: fixed; /* Ajusta el layout de la tabla */
}

.mat-header-cell, .mat-cell, .mat-footer-cell {
  flex: 1;
  padding: 16px;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.mat-header-cell:last-child, .mat-cell:last-child, .mat-footer-cell:last-child {
  border-right: none;
}

.mat-header-cell {
  background-color: rgb(0, 31, 63);
  color: white;
  font-weight: bold;
}

.mat-cell, .mat-footer-cell {
  background-color: white;
}

.total {
  background-color: azure;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.demo-button-container {
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

.demo-button {
  width: 30%;
  margin: 5px;
}
