<div class="container">
  <div class="tabla-container">
    <table class="tabla">
      <!-- Header Row -->
      <tr>
        <th></th>
        <th>Calorías (kcal)</th>
        <th>Carbohidratos (g)</th>
        <th>Grasas (g)</th>
        <th>Proteínas (g)</th>
        <th>Sodio (mg)</th>
        <th>Azúcar (g)</th>
      </tr>
    
      <!-- Totales Row -->
      <tr>
        <td>Totales</td>
        <td>{{ totals.calorias | number:'1.0-3' }}</td>
        <td>{{ totals.carbohidratos | number:'1.0-3' }}</td>
        <td>{{ totals.grasas | number:'1.0-3' }}</td>
        <td>{{ totals.proteinas | number:'1.0-3' }}</td>
        <td>{{ totals.sodio | number:'1.0-3' }}</td>
        <td>{{ totals.azucar | number:'1.0-3' }}</td>
      </tr>
    
      <!-- Tu objetivo diario Row -->
      <tr>
        <td>Tu objetivo diario</td>
        <td>{{proteinasEstimadas*16}}</td>
        <td>{{carbohidratosEstimados}}</td>
        <td>{{grasasEstimadas}}</td>
        <td>{{proteinasEstimadas}}</td>
        <td>2,300</td>
        <td>49</td>
      </tr>
    
      <!-- Restantes Row -->
      <tr>
        <td>Restantes</td>
        <td>{{ proteinasEstimadas*16 - totals.calorias | number:'1.0-3' }}</td>
        <td>{{ carbohidratosEstimados - totals.carbohidratos | number:'1.0-3' }}</td>
        <td>{{ grasasEstimadas - totals.grasas | number:'1.0-3' }}</td>
        <td>{{ proteinasEstimadas - totals.proteinas | number:'1.0-3' }}</td>
        <td>{{ 2300 - totals.sodio | number:'1.0-3' }}</td>
        <td>{{ 49 - totals.azucar | number:'1.0-3' }}</td>
      </tr>
    </table>
  </div>

</div>
